<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>
<body>
    <% const name='Maneesh' %>
        <h1>
            <%=name%>
        </h1>
        <% if(data.length> 0) { %>
            <% data.forEach(item=> { %>
                <h3>
                    <%=item.username%>
                </h3>
                <%})%>
                    <%}%>
</body>

</html>